<!DOCTYPE html>
<html>
<head> <title>Welcome to Wonderful Mornings</title>
</head>
<body style="padding-left: 80px; background-color:black; border: 15px solid cyan;margin: 24px;">
<h1 style="color:pink; margin-top: 20px ;text-align: center; font-family: Comic Sans MS; font-size: 65px;"> Wonderful Mornings</h1>
<p style="color:gold; text-align: center; font-family: Comic Sans MS; font-size:35px; font-style: italic;margin-top:-60px;"> Best Place to start your day</p>
 <br> 
 <br>
 <h1 style="color:lightblue">Thank you for shopping with us</h1>

 <h1 style="color:lightblue">{{value[0]}}</h1>
 <h1 style="color:lightblue">{{value[1]}}</h1>
 <h1 style="color:lightblue">Your order will be ready for pickup in 10 mins. </h1>
 </body>
</html>