<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/semantic.min.css">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/semantic.min.js"></script>

        <title>Music App</title>
    </head>
    <body>
        <style>
            body {
                background-color: #DADADA;
            }

            body > .grid {
                height: 100%;
            }

            .image {
                margin-top: -100px;
            }

            .column {
                max-width: 450px;
            }
        </style>

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2>Log in to your account</h2>
                {% if failed %}
                    <div class="ui error message">Incorrect username or password</div>
                {% endif %}

                <form class="ui large form" id="form" action="/login" method="POST">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="ui large teal button" onclick="form.submit();">Login</div>
                    </div>
                </form>

                <div class="ui message">
                    Don't have an account? <a href="/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </body>
</html>
